.FormSelect {
    &_element {
        min-width:36rem;
        padding: 1.6rem;
        font-family:var(--font-secondary);
        font-size:1.6rem;
        line-height:2.2rem;
        color:#0B2432;

    }
}