.GapInTimelineAlert {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 3rem;
  max-width: 1200px;

  &_item {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #ffeecc;
    margin-bottom: 10px;
    font-size: 1.6rem;

    &::before {
      content: '';
      width: 8px;
      align-self: stretch;
      background: #febb30;
    }
  }
}
