.leave_periods {
  order: 1;

  @media print {
    order: 7;
  }
}

.vacation {
  order: 3;

  @media print {
    order: 6;
  }
}

.leave_total {
  order: 5;

  @media print {
    order: 5;
  }
}

.leave_transfer {
  order: 2;

  @media print {
    order: 3;
  }
}

.financials {
  order: 4;

  @media print {
    order: 4;
  }
}

.important_info {
  order: 6;

  @media print {
    order: 1;
  }
}

.remaining_leave {
  @media print {
    display: none;
  }
}

.remaining_leave_print {
  display: none;

  @media print {
    display: block;
    order: 2;
  }
}

.EditPageSections {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;

  &_section {
    border-bottom: 2px solid #ebedf0;
    padding: 2rem 0 0.4rem 0;

    &_order {
      display: block;
      flex-direction: column;
    }

    @media screen and (min-width: 768px) {
      padding: 4.5rem 0 2.4rem 0;
    }

    &_order {
      display: flex;
      flex-direction: column;
    }

    @media print {
      padding: 4.3rem 0 2.4rem 0;
      // break-inside: avoid;
    }
  }

  &_accordionContainer {
    display: grid;
  }

  &_screen {
    @media print {
      display: none;
    }
  }

  &_print {
    display: none;

    @media print {
      display: block;
    }
  }

  &_heading {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.15;
    color: #0b2432;
    margin-bottom: 1.6rem;
    cursor: pointer;

    @media screen and (min-width: 768px) {
      font-size: 3.2rem;
    }

    @media print {
      font-size: 2.6rem;
      line-height: normal;
      break-after: avoid;
    }

    &:after {
      display: inline-block;
      content: '';
      height: 1rem;
      width: 1rem;
      margin-left: 1.5rem;
      border-bottom: 2px solid currentColor;
      border-right: 2px solid currentColor;
      transform: rotate(-135deg);
      transition: transform 100ms ease-in-out;

      @media screen and (min-width: 768px) {
        height: 1.5rem;
        width: 1.5rem;
      }
    }

    &[aria-expanded='true']::after,
    &[aria-selected='true']::after {
      transform: scale(1, -1) rotate(-135deg);
      // transform: rotate(45deg);
    }

    &_noArrow {
      &:after {
        display: none;
      }
    }

    @media print {
      &:after {
        display: none;
      }
    }
  }

  &_itemHeading {
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.15;
    margin-bottom: 2rem;
  }

  &_sectionText {
    @media print {
      display: none;
    }
  }

  &_panelAvoidBreak {
    @media print {
      break-inside: avoid;
    }
  }

  &_panel {
    // padding: 20px 0;
    animation: fadein 0.35s ease-in;

    @media print {
      margin-top: 30px;
      display: block !important;
      animation: none;
    }
  }

  &_sectionItem {
    flex-direction: column;

    @media screen and (min-width: 768px) {
      flex-direction: row;
    }

    @media print {
      flex-direction: row;
      // break-inside: avoid;
      margin-top: 30px;
    }
  }

  &_column {
    flex: 1 1 auto;
    flex-basis: 50%;
    margin-right: 1.6rem;

    &:last-child {
      margin-right: 0;
      margin-left: 1.6rem;

      @media screen and (max-width: 768px) {
        margin-right: 0;
        margin-left: 0;
      }
    }

    @media screen and (max-width: 768px) {
      margin-right: 0;
      margin-left: 0;
    }

    &Heading {
      font-size: 2.2rem;
      font-weight: 700;
      line-height: 1.15;
    }
  }
}

.InlineButton {
  display: inline-flex;
  align-items: center;
  font-size: 1.4rem;
  margin-left: 2.8rem;
  margin-top: 1.4rem;
  color: #6c757d;
  cursor: pointer;

  &_text {
    margin-left: 0.5rem;
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  @media print {
    display: none;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
