.legend {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  max-width: 1200px;
  margin-top: -7rem;

  @media screen and (max-width: 768px) {
    justify-content: center;
    margin-bottom: 4rem;
  }

  .legendItem {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-left: 4.5rem;

    @media screen and (max-width: 768px) {
      margin-left: 2rem;
      margin-bottom: 2rem;
    }

    .legendItemColor {
      width: 1.5rem;
      height: 3.4rem;
      border-radius: 3px;
      margin-right: 0.4rem;
    }

    .legendItemText {
      font-weight: 500;
      font-size: 1.6rem;

      @media screen and (max-width: 768px) {
        font-size: 1.2rem;
      }
    }
  }
}
